<footer>
  <span class="copyright">
    &copy; {{date format="YYYY"}}. All rights reserved. Built with <a href="https://ghost.org/" target="_blank">Ghost</a> and <a href="https://github.com/Kikobeats/uno-zen" target="_blank">Uno Zen</a> theme and riadapted by <a href="https://github.com/h4t0n/h4t0n-uno-zen" target="_blank">@h4t0n</a>.
  </span>
</footer>
